:root {
    --bg-color-main: #222831;
    --bg-color-second: #393E46;
    --bg-color-font: #EEEEEE;
    --big-color-side: #FFD369;

}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: var(--bg-color-main);
    color: var(--bg-color-font);
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}
.header .search-bar {
    display: flex;
    align-items: center;
    padding-left: 25px;
}
form {
    display: flex;
    min-width: 100%;
}
#search {
    width: clamp(150px, 80%, 700px);
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #393E46;
}
.magnify-img {
    background-color: var(--bg-color-main);
    border: none;
}

.bell {
    align-self: center;
    justify-self: end;
}
.icons-user {
    align-self: center;
    justify-self: flex-start;
}
.header .icons, .btn-menu {
    place-self: center;
}
.btn-menu {
    border-style: none;
    border-radius: 15px;
    font-size: clamp(0.8rem, 1.3vw, 1.1rem);
    padding: 5px 20px;
    background-color: var(--big-color-side);
    font-weight: 600;
}
.header .user-info {
    padding-left: 25px;
    display: flex;
    align-items: center;
}
.header .user-info  .greet-user {
    padding-left: 15px;
}

.header .user-info  .greet-user > p {
    margin: 0;
}

.sidebar {
    background-color: var(--big-color-side);
    grid-column: 1;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 0.5fr 5fr;
    color: var(--bg-color-main);
}
.sidebar .sidebar-menu {
    display: grid;
    grid-template-rows: repeat(2, min-content);

}
.sidebar .sidebar-menu ul {
    list-style-type: none;
    font-size: clamp(1rem, 2vw, 1.3rem);
    display: grid;
    gap: 10px;
    padding-left: 20px;
}
.main-content {
    background-color: var(--bg-color-second);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
    padding-left: 20px;
}

.main-content .user-projects{
    width: 95%;
}

.main-content .user-projects .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
}

.main-content .user-projects .cards-container .project-cards{
    background-color: var(--bg-color-main);
    color:var(--bg-color-font);
    padding: 5px;
    border-left: 5px solid var(--big-color-side);
    border-radius: 20px;
    height: 200px;
}

.icons-menu {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.annoucment-card, .trending-card {
    background-color: var(--bg-color-main);
    color: var(--bg-color-font);
    border-radius: 20px;
    padding: 20px;
    margin-right: 20px;
}

.ann-content{
    border-bottom: 0.5px solid var(--bg-color-second);
}

.trending-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.trending-users {
    display: flex;
    gap: 20px;
}

.user-status > p {
    margin: 0;
}



/* ~~~~~~~~ FONTS ~~~~~~~~~~~ */
.link{
    text-decoration: none;
    color: var(--bg-color-main);
}
.magnify-img:hover, .link:hover {
    transform: scale(1.1);
    text-shadow: 1px 1px #393E46;
}
.user-tag{
    font-weight: bolder;
    font-size: 1.2rem;
}

img {
    vertical-align: middle;
}

.user-name {
    font-size: 2rem;
    font-weight: bold;
}
h3 {
    padding-left: 10px;
    font-size:clamp(1.2rem, 3vw, 2rem)
}
h4 {
    color: var(--bg-color-font);
}
.ann-title, .title {
    font-weight: 900;
    font-size: 1.1rem;
}
 img {
    display: inline;
    position: relative;
 }